<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr th:each="customer : ${customerList}">
            <td class="align-middle" th:text="${customer.id}"></td>
            <td class="align-middle" th:text="${customer.firstName}"></td>
            <td class="align-middle" th:text="${customer.lastName}"></td>
        </tr>
    </table>
</body>
</html>
