<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css">
<!--          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
    <title>Getting Started: Serving Web and Data Content</title>
</head>
<body>
<div class="container" style="padding-top: 20vh; display: flex; flex-direction: column; align-items: center;">
    <div>
        <p th:text="'Hello, ' + ${name} + '!'" />
    </div>
    <div style="padding-top: 5vh;">
        <p><a href="/" class="btn btn-success">Back to menu</a></p>
    </div>
</div>
</body>
</html>
